.productJudgeOuter {
    padding-top: 0;
    margin-top: -16px;
    padding-bottom: 0;
    .pageWidth {
        max-width: 1340px !important;
        margin: 0 auto;
    }
    .productJudgeContainer.topPadding {
        margin-bottom: 40px;
    }
    .productJudgeContainer {
        max-width: 800px;
        margin: auto;
        .productSectionTitle {
            font-size: 32px;
            line-height: 1.3em;
            margin: 16px 0;
            font-weight: 400;
            font-family: Lora;
            span {
                color: #039869 !important;
            }
        }
        .centered {
            text-align: center;
        }
        .productSectionText {
            font-size: 18px;
            margin: 16px 0;
            line-height: 1.3em;
        }
    }
}
.pliFlex {
    display: flex;
    gap: 100px;
    align-items: center;
    img {
        display: block;
        width: 100%;
    }
    .pliPinkText {
        margin: 24px 0;
        padding: 8px 16px;
        border-radius: 8px;
        background: #ffe3e3;
    }
    .pliTopText *,
    .pliPinkText *,
    .pliBottomText * {
        font-size: 18px;
        line-height: 1.3em;
        margin: 8px 0;
    }
    .pliTopText ul {
        padding-left: 0;
        margin-left: 0;
    }
    .pliTopText li {
        padding-left: 32px;
        color: #0c7c00;
        background-image: url('https://trysculptique.com/cdn/shop/files/check-mark_17013456_2_1.png?v=1760702838');
        background-size: 20px;
        background-repeat: no-repeat;
        list-style: none;
        font-weight: 600;
        font-family: Nunito;
    }
    .pliBottomText li,
    .pliPinkText li {
        padding-left: 32px;
        color: #a60003;
        background-image: url('https://trysculptique.com/cdn/shop/files/Vector_7.png?v=1760702839');
        background-size: 20px;
        background-repeat: no-repeat;
        list-style: none;
        font-weight: 600;
        font-family: Nunito;
    }
}
.pliFlex > div {
    width: 100%;
}

.productJudgeOuter.outerHowNothing {
    padding-top: 0;
}
.outerHowNothing {
    font-size: 28px;
    font-weight: 700;
    color: #1c1b1b;
    margin-bottom: 35px;
    background-color: #f7f2e7;
    padding: 70px 0;
    font-family: Inter, sans-serif;
    text-align: center;
}
.productWhyBloatingGrid {
    display: flex;
    gap: 16px;
    margin-top: 40px;
}
.productWhyNothingCell {
    border-radius: 6px;
    overflow: hidden;
    img {
        width: 100%;
        display: block;
    }
}
.productWhyNothingCellIn {
    background: #f7f7f7;
    padding: 24px;
    text-align: center;
    h4 {
        font-size: 20px;
        line-height: 1.3em;
        margin: 0;
    }
}
.productWhyNothingPink {
    background: #ffe3e3;
    padding: 8px 16px;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 24px;
    min-height: 180px;
}
.productWhyNothingSubtitle {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 600;
    img {
        max-width: 24px;
    }
}
.productWhyNothingText {
    font-size: 16px;
    line-height: 1.3em;
    margin: 12px 0 0;
}
.productWhyBloatingGrid > div {
    width: 100%;
}
.productWhyNoteImg {
    width: 100%;
    max-width: 920px;
    margin: auto;
    img {
        width: 100%;
        display: block;
    }
}
.centered {
    text-align: center;
}
.productPrimaryBtn {
    font-family: Nunito;
    display: inline-block;
    padding: 18px 80px;
    cursor: pointer;
    text-decoration: none;
    color: #fff !important;
    background: #000;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.2s;
    line-height: 1.3em;
    text-align: center;
}
.productPrimaryBtnFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px 0 0;
    img {
        width: 24px !important;
    }
}

.productJudgeOuter.pink {
    background: #f3eee0 !important;
    padding: 32px 0;
}
.productIconsGrid {
    display: flex;
    gap: 24px;
    img {
        width: auto;
        height: 40px;
        max-width: 40px;
        display: block;
        margin: auto auto 16px;
    }
    p {
        font-size: 16px;
        margin: 0;
        line-height: 1.3em;
    }
}
.productJudgeOuter p.h4title {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em;
}
.productIconsGrid > div {
    width: 100%;
    text-align: center;
}
.productExpertOuter {
    display: flex;
    background: #f7f7f7;
    border-radius: 12px;
    overflow: hidden;
}
.productExpertOuter > div {
    width: 100%;
}
.productExpertContent {
    padding: 32px;
}
.productSubtitle {
    font-size: 16px;
    line-height: 1.3em;
    margin: 0;
    color: #737373;
}
.productSectionTitle {
    font-size: 32px;
    line-height: 1.3em;
    margin: 16px 0;
    font-weight: 400;
    font-family: Lora;
}
.productText p {
    font-size: 18px;
    line-height: 1.3em;
    margin: 12px 0;
}
.btnContainer {
    margin-top: 24px;
}
.productPrimaryBtn {
    font-family: Nunito;
    display: inline-block;
    padding: 18px 80px;
    cursor: pointer;
    text-decoration: none;
    color: #fff !important;
    background: #000;
    border-radius: 4px;
    font-size: 18px;
    transition: all 0.2s;
    line-height: 1.3em;
    text-align: center;
}
.productPrimaryBtnFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 16px;
    line-height: 1.3em;
    margin: 16px 0 0;
    img {
        width: 24px !important;
    }
}
.productExpertMedia {
    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
    }
}
.productExpertMedia > div {
    width: 100%;
}
@media screen and (min-width: 750px) {
    body {
        font-size: 1.6rem;
    }
    .page-width {
        padding: 0 5rem;
    }
}
.productUgcStars {
    max-width: 300px;
    margin: auto auto 16px;
    display: block;
}
.productUgcContainer {
    margin-bottom: 40px !important;
}
.slickSlider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slickDotted.slickSlider {
    margin-bottom: 30px;
}
.slickPrev {
    left: -25px;
}
.slickNext {
    right: -25px;
}
.slickNext,
.slickPrev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
}
.productCarouselOuter .slickNext,
.productCarouselOuter .slickPrev {
    display: none !important;
}
.slickTrack {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slickSlider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
// .slickSlider .slickList,
.slickSlider .slickTrack {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.productUgcContainer .slickSlide
// .productReview-container .slickSlide
{
    padding: 8px;
}
.slickInitialized .slickSlide {
    display: block;
}
.slickSlide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    img {
        display: block;
    }
}
.productUgcVideo {
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img {
        width: 100%;
    }
    video {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 9 / 16;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
    }
}
.productUgcVideo img.productUgcPlay {
    position: absolute;
    width: 32px;
    height: 32px;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}
.productUgcContainer .slickDots
// .productReviewContainer .slickDots
{
    width: 100%;
    max-width: calc(100% - 200px);
    display: flex;
    gap: 0;
    li {
        margin: 0;
        width: 100%;
    }
}
// .slickDots {
//     // position: absolute;
//     bottom: -25px;
//     display: block;
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     text-align: center;
//     li {
//         position: relative;
//         display: inline-block;
//         width: 20px;
//         height: 20px;
//         margin: 0 5px;
//         padding: 0;
//         cursor: pointer;
//     }
// }

.slickDots {
    position: relative;
    margin: 16px 0 0 0; // Khoảng cách từ carousel xuống dots
    padding: 0;
    list-style: none;
    text-align: left; // Sát trái như bạn muốn
    display: flex;
    gap: 8px; // Khoảng cách giữa các dot
    width: 100%;
    max-width: none;

    li {
        width: 12px !important;
        height: 12px !important;
        margin: 0 !important;
        padding: 0;
        cursor: pointer;

        button {
            width: 12px !important;
            height: 12px !important;
            border-radius: 50%;
            background: #d1d1d1; // Xám nhạt mặc định
            border: none;
            font-size: 0; // Ẩn số (chỉ chấm tròn)
            padding: 0;
            transition: all 0.3s ease;
        }

        &.slick-active {
            button {
                background: #00c853 !important; // Xanh nổi bật cho active
                transform: scale(1.4); // To hơn
                box-shadow: 0 0 6px rgba(0, 200, 83, 0.6);
            }
        }
    }
}

.slickDots li button {
    font-size: 12px !important;
    color: white;
    background: #d1d1d1;
    border-radius: 50%;
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
    text-align: center;

    &.slick-active {
        background: #00c853 !important;
        color: white;
        font-weight: bold;
    }
}

.productUgcContainer .slickDots {
    justify-content: flex-start;
    padding-left: 0;
}
.productUgcCarouselNav {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    align-items: center;
    margin-top: -50px;
    img {
        width: 100%;
        max-width: 32px;
    }
}
.productCarouselPrev,
.productCarouselNext {
    cursor: pointer;
}
// .progressBar {
//     position: relative;
//     height: 4px;
//     background: #ddd; /* Thanh xám */
//     border-radius: 2px;
//     overflow: hidden;
// }

// .progressFill {
//     height: 100%;
//     background: #00c853; /* Thanh xanh như hình */
//     transition: width 0.3s ease;
//     position: relative;
// }

// .progressFill::after {
//     content: '';
//     position: absolute;
//     right: -4px;
//     top: -2px;
//     width: 8px;
//     height: 8px;
//     background: white; /* Dot trắng */
//     border-radius: 50%;
//     box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
// }

.customDots {
    display: flex !important;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
    padding: 0;
    list-style: none;

    li {
        width: auto !important;
        height: auto !important;
        margin: 0 4px !important;

        button {
            width: 40px !important; // độ dài mỗi mốc
            height: 4px !important;
            padding: 0 !important;
            background: #e0e0e0 !important; // thanh xám
            border: none !important;
            border-radius: 2px;
            position: relative;
            overflow: hidden;
            transition: all 0.3s;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: #00c853; // xanh lá
                transition: width 0.4s ease;
            }

            &.slick-active {
                background: transparent !important;

                &::before {
                    width: 100%;
                }

                .dot {
                    background: white;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.dotWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.dotLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: inherit;
}

.dot {
    position: absolute;
    right: -6px;
    top: -4px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #00c853;
    transition: all 0.3s;
}
.productLymphIngrTable {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #fff;
    border-radius: 12px;
    border: 0.5px solid black;
    overflow: hidden;
    .productLymphIngredient {
        border: 0.5px solid black;
        padding: 24px;
        cursor: pointer;
    }
    .productLymphIngrSubtitle {
        display: flex;
        justify-content: center;
        gap: 8px;
        align-items: center;
        font-size: 16px;
        color: #0c7c00;
        margin: 0;
        img {
            max-width: 16px;
            display: block;
        }
    }
    .productLymphMainImg {
        display: block;
        max-width: 120px;
        margin: 12px auto;
        max-height: 80px;
        width: auto !important;
    }
    .productLymphIngrThumb {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;
        h5 {
            font-size: 16px;
            font-weight: 600;
            margin: 0;
            line-height: 1.3em;
        }
        img {
            max-width: 24px;
            display: block;
            margin-left: auto;
        }
    }
    .productLymphIngrContent {
        padding-top: 12px;
        display: none;
        p {
            margin: 0;
            line-height: 1.3em;
            font-size: 14px;
        }
    }
}
.productJudgeOuter.productLymphgIngrOuter img {
    width: 100%;
}
.productLymphIngrTableSmall {
    max-width: 580px;
    margin: 40px auto auto;
    img {
        width: 100%;
    }
}
.productReviewsTrust {
    display: block;
    margin: auto;
    max-width: 200px;
}
.jdgmWidget.jdgmRevWidg {
    display: block;
}
.jdgmRevWidg {
    padding: 24px 16px;
    margin: 0;
    border: none;
    .jdgmRevWidgHeader {
        text-align: center;
    }
    .jdgmRevWidgTitle {
        visibility: unset;
        margin-bottom: 12px;
        margin-top: 0;
        font-size: 150%;
    }
    .jdgmFromWrapper {
        padding: 24px 0;
        border-top: 1px solid rgba(16, 132, 116, 0.1);
        border-color: rgba(250, 138, 138, 0.1);
    }
    .jdgmRowMedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .jdgmFromDynamicWrapper {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1050;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRevWidgTitle {
        margin-bottom: 24px;
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRowStars {
        padding-bottom: 24px;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRowMedia {
        flex-direction: row;
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRowStars > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRevWidgSummary {
        width: 30%;
    }
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRevWidgSummary,
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmHistogram,
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmWidgetActionsWrapper {
        display: inline-block;
        margin-bottom: 0;
    }
}
.jdgmRevWidgSummary,
.jdgmHistogram,
.jdgmWidgetActionsWrapper {
    margin: 0 0 24px 0;
}
@media only screen and (min-width: 992px) {
    .jdgmWidget:not(.jdgmReviewWidgetSmall, .jdgmReviewWidgetMedium) .jdgmRevWidgSummaryInner {
        display: inline-block;
        text-align: left;
    }
}
.jdgmRevWidgSummary .jdgmStar {
    font-size: 16px;
}
.jdgmRevWidg .jdgmStar,
.jdgmRevsTab .jdgmStar,
.jdgmAllReviews .jdgmStar,
.jdgmGalleryPopup .jdgmStar {
    color: #108474;
    color: #fa8a8a;
}
.jdgmStar.jdgmOn:before {
    content: '\e000';
}
.jdgmStar.jdgmHalf:before {
    content: '\e002';
}
.jdgmStar {
    display: inline !important;
    text-decoration: none !important;
    padding: 0 4px 0 0 !important;
    margin: 0 !important;
    font-weight: bold;
    opacity: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'JudgemeStar' !important;
}
.jdgmWidget * {
    margin: 0;
    line-height: 1.4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}
