.mainSection {
    padding-top: 32px;
    padding-bottom: 32px;
    img {
        width: 100%;
    }
}
.pageWidth {
    max-width: 1340px !important;
    max-width: 120rem;
    margin: 0 auto;
    // padding: 0 1.5rem;
    padding: 0 5rem;
}
.mainProductContainer {
    display: flex;
    gap: 64px;
}

.mainProduct1st {
    position: relative;
    display: flex;
    justify-content: center;
    // font-size: 1.6rem;

    img {
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
        // width: 100%;
    }
    .mainProductNutritionInfo {
        position: absolute;
        bottom: 32px;
        z-index: 2;
        display: flex;
        justify-content: center;
        gap: 8px;
        line-height: 1.2em;
        max-width: 290px;
        padding: 8px 24px;
        background: #ffffffd9;
        border: 1px solid black;
        border-radius: 24px;
        cursor: pointer;
        font-size: 14px;
        :global(span) {
            display: flex;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
        }
        img {
            width: 24px;
        }
    }
    .mainProducTBfBadge {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 100%;
        max-width: 120px;
        display: block;
    }
}
.mainProduct2nd {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 16px 0;
    // font-size: 1.6rem;

    img {
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
    }
}

.mainProduct3rd {
    display: grid;
    margin: 16px 0;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;

    img {
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: 8px;
        overflow: hidden;
    }
}

.mainProduct2ndBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 16px 0;
    img {
        aspect-ratio: auto;
    }
}

.mainProductReviews {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;

    img {
        width: 100px;
        display: block;
    }

    p {
        margin: 0;
        line-height: 1.3em;
        font-size: 16px;
        color: #000;
        font-family: 'Nunito', sans-serif;
    }
}

.mainProductTitle {
    // font-size: 28px;
    margin: 16px 0;
    line-height: 1.4em;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
}

.mainProductFeatures {
    .mainProductFeatureLine {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 16px 0;

        p {
            margin: 0;
            line-height: 1.3em;
            font-size: 16px;
            font-family: 'Nunito', sans-serif;
        }
    }
    .mainProductFeatureLine > div:nth-child(1) {
        width: 10%;
        display: flex;
        align-items: center;
    }
    .mainProductFeatureLine > div:nth-child(2) {
        width: 100%;
    }
}

.bottomRightPlaceholder {
    height: 78px;
    width: 40px;
    // position: absolute;
    z-index: 2;
    margin-bottom: 6.5px;
    &:hover {
        cursor: pointer;
    }
}

.modalOverlay {
    position: fixed;
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modalContent {
    background-color: #fafafa;
    margin: 80px auto;
    width: 90%;
    max-width: 530px;
    border-radius: 12px;
    font-size: 16px;
    color: #212121;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 160px);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.frModalHeaderRow {
    display: flex;
    padding: 12px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #eee;
    background: #fefefe;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    .frBackIcon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        float: left;
        background-color: transparent;
        cursor: pointer;
    }
    .frBackIcon:hover,
    .frBackIcon:focus,
    .frCloseIcon:hover,
    .frCloseIcon:focus {
        background-color: #e0e0e0;
    }
    .frModalLogo {
        height: 24px;
        margin: 0 auto;
    }
    .frModalLogo > a > svg {
        height: 24px;
    }
    .frCloseIcon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 100px;
        float: right;
        background-color: transparent;
        cursor: pointer;
    }
    .frCloseIcon > svg {
        height: 10px;
        width: 10px;
    }
}
button > * {
    pointer-events: none;
}
.frModalContent {
    overflow-y: auto;
    border-radius: 12px;
    height: 553px;
    .frQuestionSection {
        padding-bottom: 16px;
        padding-top: 16px;
        background: #fefefe;
    }
    .frAccordion {
        padding-left: 24px;
        padding-right: 24px;
        .frAccordionContent {
            font-family: 'sofia-pro', sans-serif;
            color: #212121;
            font-feature-settings:
                'clig' off,
                'liga' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            gap: 12px;
            cursor: pointer;
            .frQuestionTitle {
                margin: 0;
                letter-spacing: normal;
                font-weight: 500;
                // color: #212121;
                color: #111111;
                font-size: 18px;
                font-family: 'sofia-pro', sans-serif;
            }
        }
        .frQuestionAnswer {
            display: inline-block;
            margin: 0;
            padding-right: 40px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: normal;
            font-size: 16px;
            color: #424242;
            font-family: 'sofia-pro', sans-serif;
            p {
                margin: 0 !important;
            }
        }
        .frQuestionAnswer > p:not(:last-child) {
            margin-bottom: 16px !important;
        }
    }
    .frExpandPlus,
    .frAccordion[open] > .frAccordionContent > .frExpandMinus {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eee;
        border-radius: 100px;
        padding: 9px;
        margin: 16px 0;
    }
    .frExpandPlus > svg,
    .frAccordion[open] > .frAccordionContent > .frExpandMinus > svg {
        height: 14px;
        width: 14px;
    }
    .frAccordion[open] > .frAccordionContent > .frExpandPlus,
    .frAccordion > .frAccordionContent > .frExpandMinus {
        display: none;
    }
    .frProviderListSection {
        background: #fafafa;
        padding: 32px 24px 0px 24px;
    }
    .frProviderListTitle {
        margin: 0;
        margin-bottom: 6px !important;
        color: #212121;
        font-feature-settings:
            'clig' off,
            'liga' off;
        font-family: 'sofia-pro', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: normal;
    }
    .frProviderListSubtitle {
        margin: 0px 16px 32px 0px;
        color: #424242;
        font-feature-settings:
            'clig' off,
            'liga' off;
        font-family: 'sofia-pro', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: normal;
        .frViewAllLink {
            color: #212121;
            text-decoration: underline;
            font-size: inherit;
            font-weight: 300;
            font-family: 'sofia-pro', sans-serif;
        }
    }
    .frProviderListItem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 24px 0px;
        gap: 16px;
        .frProviderInfo {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            padding-bottom: 4px;
        }
        .frProviderInfo > button {
            display: grid;
            grid-template-columns: 42px auto;
            grid-template-rows: 42px;
            grid-column-gap: 12px;
            grid-row-gap: 0px;
            align-items: center;
        }
        .frProviderInfo p {
            margin: 0;
            line-height: normal;
        }
        .frProviderDetails {
            font-size: 14px;
            color: #565656;
            display: flex;
            flex-direction: row;
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .frProviderName {
            margin: 0;
            color: #212121;
            font-family: 'sofia-pro', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: normal;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding: 0;
            border: none;
            background: transparent;
            text-align: left;
            cursor: pointer;
        }
        .frProviderName > div {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 4px;
        }
        .frProviderName > div > span {
            text-decoration: underline;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
        }
        .frProviderName > div > p {
            overflow: hidden;
            white-space: nowrap;
            display: block;
            text-overflow: ellipsis;
        }
        button > figure {
            grid-area: 1 / 1 / 3 / 2;
            margin: 0;
            position: relative;
        }
        button > * {
            pointer-events: none;
        }
        figure.expanded img {
            width: 42px;
            height: 42px;
            border-radius: 16px;
        }
        figure.expanded figcaption {
            display: none;
        }
        figure > figcaption {
            box-sizing: border-box;
            position: absolute;
            bottom: -3px;
            right: 0px;
            display: flex;
            width: 16px;
            height: 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 6px;
            outline: 2px solid #fff;
            background: #212121;
            color: #fff;
            text-align: center;
            font-family: 'Sofia Pro';
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .frViewStoreButton {
            display: flex;
            padding: 10px 15px 12px 16px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2px;
            border-radius: 50px;
            background: #eee;
            color: #212121;
            text-align: center;
            font-family: 'sofia-pro', sans-serif;
            font-size: 14px;
            font-style: normal;
            line-height: 14px;
            font-weight: 500;
            text-decoration: none;
            letter-spacing: normal;
            white-space: nowrap;
        }
        .frLinkVector {
            display: inline-block;
            position: relative;
            bottom: -2px;
            margin-left: 6px;
        }
        .frViewStoreButton:hover {
            background-color: #e0e0e0;
        }
        .frViewStoreButton .frLinkVector {
            bottom: -1px;
        }
    }
    .frFullProviderListBottom {
        display: flex;
        padding: 8px 0 24px;
        margin: 0px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-top: none;
        background: #fafafa;
        .frViewAllProvidersLinkBottom {
            text-decoration: none;
            color: #212121;
            text-align: center;
            font-family: 'sofia-pro', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin: 0 !important;
            .frLinkVector {
                display: inline-block;
                position: relative;
                bottom: -2px;
                margin-left: 6px;
            }
        }
        .frViewAllProvidersLinkBottom > span {
            display: inline-block;
        }
    }
    .frDisclaimer {
        padding: 12px 16px;
        margin: 0 8px 16px 8px;
        border-radius: 12px;
        text-align: center;
        background: #f5f5f5;
    }
    .frDisclaimer > p {
        font-style: italic;
        font-weight: 300;
        font-size: 12px;
        color: #757575;
    }
}

.background {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 387px;
    padding: 8px 0px 10px 8px;
    gap: 10px;
    z-index: 1;
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        span {
            height: 40px;
            width: auto;
        }
        svg {
            height: 40px;
            width: auto;
        }
    }
    .heading > p {
        color: #212121;
        // font-size: 16px;
        text-align: center;
        font-family: 'Lora', serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.2px;
    }
    .column {
        display: flex;
        flex-direction: column;
        gap: 6px;
        p {
            margin: 0;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            .bold {
                display: inline;
                font-weight: 600;
            }
            .italics {
                display: inline;
                font-style: italic;
            }
            .learnMore {
                text-decoration-line: underline;
                text-underline-offset: 4px;
                text-decoration-thickness: 1px;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }
        .cta {
            display: flex;
            flex-direction: row;
            gap: 6px;
            align-items: center;
            .images {
                height: 18px;
                img {
                    width: 16px;
                    height: 16px;
                    border-radius: 100px;
                    object-fit: cover;
                    background-color: #eee;
                }
            }
            .testimonialCta {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 0;
                border: none;
                background-color: transparent;
                cursor: pointer;
                p {
                    margin: 0;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 18px;
                    color: #212121;
                }
            }
            .testimonialCta > p {
                font-weight: 600;
            }
            .testimonialCta > p:hover {
                text-decoration-line: underline;
                text-underline-offset: 4px;
                text-decoration-thickness: 1px;
            }
        }
    }
}
.closeButton {
    display: flex;
    padding: 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    justify-self: flex-start;
    align-self: flex-start;
    margin-top: 5px;
    border-radius: 68px;
    background: #e0e0e0;
}

.productSelectorContent {
    background: #f3eee0 !important;
    padding: 12px;
    border-radius: 8px;
    background: #fff7f8;
    margin-bottom: 16px;
    margin-top: 24px;

    .productSelectorOuter {
        .productSelectorBlock {
            border: 1px solid #039869 !important;
            border-radius: 12px;
            border: 1px solid rgba(247, 160, 160, 1);
            position: relative;
            margin-bottom: 12px;
            cursor: pointer;

            .productSelectorHead {
                display: flex;
                align-items: center;
                gap: 12px;
                background: #fff;
                padding: 16px;
                border-radius: 12px;

                .productSelectorBubble {
                    border: 2px solid #039869 !important;
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid rgba(247, 160, 160, 1);

                    .productSelectorBubbleIn {
                        background: #039869 !important;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        display: block !important;
                        background: #f7a0a0;
                    }
                }

                .productSelectorTitle,
                .productSelectorPrice {
                    margin: 0;
                    font-size: 16px;
                    line-height: 1.3em;
                    font-weight: 600;
                    font-family: sans-serif;
                }
                .productSelectorInfo {
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.3em;
                }
                .productSelectorCompare {
                    font-size: 14px;
                    line-height: 1.3em;
                    margin: 0;
                    display: block;
                }
            }
            .productSelectorHead > div:nth-child(1) {
                width: 32px;
            }
            .productSelectorHead > div:nth-child(2) {
                width: 100%;
            }
            .productSelectorHead > div:nth-child(3) {
                width: 50%;
                text-align: right;
            }
            .productSelectorPerks {
                border-radius: 0 0 10px 10px;
                overflow: hidden;

                .productSelectorPerksLine {
                    background: #039869 !important;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    background: #f7a0a0;
                    padding: 4px 8px;
                    border-bottom: 1px solid white;
                    opacity: 0.6;
                    img {
                        width: 100%;
                        display: block;
                    }
                    p {
                        font-size: 12px;
                        color: #fff;
                        font-weight: 700;
                        margin: 0;
                        line-height: 1em;
                    }
                }
                .productSelectorPerksLine:last-child {
                    border-bottom: none;
                }
                .productSelectorPerksLine > div:nth-child(1) {
                    width: 34px;
                }
            }

            .productSelectorBadge {
                top: -20px;
                right: -5px;
                position: absolute;
            }

            &.active .productSelectorBubble {
                border: 2px solid #039869 !important;

                .productSelectorBubbleIn {
                    background: #039869 !important;
                }
            }

            &.active .productSelectorHead .productSelectorPrice {
                color: #000 !important;
            }

            &.active .productSelectorPerks .productSelectorPerksLine {
                background: #039869 !important;
                opacity: 1 !important;

                p {
                    color: #fff !important;
                }
            }

            &:not(.active) .productSelectorBubble .productSelectorBubbleIn {
                background: transparent !important;
            }

            &:not(.active) .productSelectorPerks .productSelectorPerksLine {
                background: #039869 !important;
                opacity: 0.6 !important;
            }

            &:not(.active) .productSelectorHead .productSelectorPrice {
                color: #555 !important;
            }
        }
    }
    .productSelectorOuter.active_block {
        display: block;
    }
}
.productSelectorContent .productSelectorOuter {
    margin-top: 0;
}

.colPP {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    p {
        font-size: 16px;
        margin: 0;
        line-height: 1.3em;
    }
    span {
        background: #039869 !important;
        background: #d5416e;
        padding: 4px 8px;
        border-radius: 4px;
        color: #fff;
    }
    .colPPDeliver {
    }
}
.colPP > div:nth-child(1) {
    width: 5%;
    display: flex;
    align-items: center;
}
.colPP > div:nth-child(2) {
    width: 100%;
}

.productSelectorAtc {
    background: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    transition: all 0.2s;
}

.productAtcFooterLine {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
    .productAtcFooterInLine {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        svg {
            width: 20px;
            height: 20px;
            display: block;
        }
        img {
            width: 20px;
            height: 20px;
            display: block;
        }
        p {
            margin: 0;
            font-size: 16px;
            line-height: 1.3em;
        }
        .productAtcRefillsHide {
            display: none !important;
        }
    }
    .productAtcFooterInLine:nth-child(1) {
        padding-right: 16px;
        border-right: 1px solid black;
    }
}

.productPaymentIcon {
    margin: 16px 0;
    display: block;
    width: 100%;
}

.desktopProductBF {
    display: block;
}

.productAtcIconLine {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 12px 0;
    p {
        font-size: 16px;
        margin: 0;
        line-height: 1.3em;
    }
}
.productAtcIconLine > div:nth-child(1) {
    width: 5%;
    display: flex;
    align-items: center;
}

.mainProductReview {
    background: #f3eee0 !important;
    margin-top: 24px;
    padding: 12px;
    border-radius: 12px;
    background: #fff7f8;
    .mainProductReviewMeta {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 8px;
        p {
            margin: 0;
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 16px;
            line-height: 1.3em;
        }
        img {
            max-width: 120px;
        }
        span {
            display: flex;
            align-items: center;
        }
        .mainProductReviewStars {
            display: block;
            max-width: 100px;
            margin-top: 6px;
        }
    }
    .mainProductReviewMeta > div:nth-child(1) {
        width: 15%;
    }
    .mainProductReviewMeta > div:nth-child(2) {
        width: 100%;
    }
    .mainProductReviewContent {
        p {
            margin-top: 0;
            margin-bottom: 8px;
            line-height: 1.3em;
            font-size: 16px;
            letter-spacing: 0;
        }
    }
    .mainProductReviewContent p:last-child {
        margin-bottom: 0;
    }
}

.productTabBlockOut {
    margin-top: 16px;
    .productTabBlock {
        margin-bottom: 16px;
        padding: 16px;
        border-radius: 32px;
        border: 1px solid #d2d2d2;
        cursor: pointer;
        overflow: hidden;
        transition:
            max-height 0.8s cubic-bezier(0.5, 0.1, 0.5, 1),
            opacity 0.8s ease-out,
            transform 0.8s ease-out;
        max-height: 60px;
        opacity: 1;
        transform: translateY(0);
        background-color: #fff;

        &.active {
            border: 1px solid #039869 !important;
            max-height: 1200px;
            opacity: 1;
            transform: translateY(0);
        }
    }
    .productTabThumb {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;
        p {
            margin: 0;
            font-size: 16px;
            line-height: 1.3em;
        }
        span {
            display: flex;
            align-items: center;
            transition: transform 0.5s ease;
        }
        img {
            width: 24px;
            display: block;
            transition: transform 0.5s ease;
        }
    }
    .productTabContent {
        padding-top: 16px;
        ul {
            display: block;
            list-style-type: disc;
            margin-block-start: 1em;
            margin-block-end: 1em;
            padding-inline-start: 40px;
            unicode-bidi: isolate;
        }
        p {
            margin: 0 0 12px;
            font-size: 16px;
            line-height: 1.3em;
            letter-spacing: 0;
        }
        .liDesc {
            color: #777575;
        }
    }
    &.active .productTabContent {
        padding-top: 16px;
        max-height: 1000px;
    }
    .productTabContent p:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 678px) {
    .mainSection {
        padding-top: 32px;
        padding-bottom: 32px;
        img {
            width: 100%;
        }
    }
    .pageWidth {
        max-width: 1340px !important;
        max-width: 120rem;
        margin: 0 auto;
        padding: 0 1.5rem;
        // padding: 0 5rem;
    }
    .mainProductContainer {
        flex-wrap: wrap;
        gap: 16px;
    }
    .DesktopOnly {
        display: none !important;
    }
    .mainProductReviews {
        img {
            width: 60px;
        }
        p {
            font-size: 12px;
            font-family: 'Nunito', sans-serif;
        }
    }
}
