.sectionPressLogos {
    position: relative;
    /* max-width: 1920px; */
    margin: auto;
    .sectionHolder {
        position: relative;
        max-width: 100vw;
        margin: auto;
        line-height: 1;
        background: #fff7f8;
    }
    .titleWrap {
        font-size: 24px;
        letter-spacing: 0px;
        color: #000000;
        margin: 0;
    }
}
.sectionPressLogos .pressLogosWrapper {
    background: #f3eee0 !important;
    /* height: 90px; */
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    display: grid;
    margin: auto;
    // grid-template-columns: 125px 1fr;
    grid-gap: 20px 70px;
    // padding: 0 50px;
    align-items: center;
    // padding-top: 20px;
    // padding-bottom: 20px;
}
.sectionPressLogos .autoScrollingLogos {
    width: 100%;
    overflow: hidden;
    min-width: 1px;
}
.sectionPressLogos .logosWrap {
    display: flex;
    animation: logo_scroll 50s infinite linear;
    align-items: center;
    width: fit-content;
}
.sectionPressLogos .logosWrap img {
    height: 30px;
    width: auto;
    display: block;
    margin: 0 50px;
}
@keyframes logo_scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-50%);
    }
}
